# base
psutil
six
jsonpatch
jsonquery
netaddr
packaging
jmespath
wheel
ldap3
requests[security]
xmltodict
# Azure
azure-storage-blob
msgraph-sdk
azure-cli-core
azure-common
azure-storage-blob
azure-core
azure-keyvault
# ServiceNow
pysnow
# Infoblox
infoblox-client
# containers
kubernetes
openshift
# WinRM
pywinrm
pywinrm[credssp]
pywinrm[kerberos]
requests-credssp
requests-kerberos
requests-ntlm
ntlm-auth
oauthlib
requests-oauthlib
# VMware
pyvmomi
#git+https://github.com/vmware/vsphere-automation-sdk-python.git@v8.0.3.0
#
# needed by Platform Engineering Group for patching
# https://github.com/oVirt/python-ovirt-engine-sdk4
# https://docs.ansible.com/ansible/latest/collections/ovirt/ovirt/index.html
#
ovirt-engine-sdk-python
iputils
aiohttp>=3.10.2 # not directly required, pinned by Snyk to avoid a vulnerability
anyio>=4.4.0 # not directly required, pinned by Snyk to avoid a vulnerability
azure-identity>=1.16.1 # not directly required, pinned by Snyk to avoid a vulnerability
msal>=1.24.1 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.32.2 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability